*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing:border-box;
    
}
.container{
    background-color:rgba(4, 51, 84, 0.932);    
    min-height:100vh;
    width:100%;   
    color:rgb(11, 2, 2);
    padding:50px;
}
.to-do-list{
    width:100%;
    background-color:rgb(178, 200, 216);
    margin:auto;
    padding:35px 20px 70px;
    min-height:50vh;
    max-width: 580px;
    border-radius: 10px;  
    
}
to-do-list h2{
    display: flex;
    align-items: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    min-width:70px;
    padding-right: 10px;   
    flex-wrap: wrap;

}
input{
    flex:1;
    border:none;
    outline: none;
    padding: 10px;
    margin-right: 20px;
    border-radius:10px;   
    overflow: hidden; 
}
button{       
    padding: 10px;
    cursor:pointer;  
    border-radius:10px; 
    

}
ul li{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer; 
    position:relative;    
    max-width: calc(100% - 50px); 
    overflow-wrap: break-word;
    
}
ul li::before{
    content:'';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png);
    background-size:cover;
    background-position: center;
    top: 10px;
    left: 12px;
    
    
}
ul li.checked{
    color:grey;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image:url(images/checked.png);

}
ul li span{
    position:absolute;
    border-radius: 20%;
    top: 10px;
    right: 12px; 
    height:20px;  
    width:20px;
    text-align: center;
    
}
ul li span.text{
    position: absolute;
    top: 10px;
    left: 50px;     
    color:yellow;
}

ul li span:hover{
    background-color:rgb(225, 224, 224);
}
